<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    body{font-family: 나눔고딕, NanumGothic, 'Nanum Gothic', Nanumbarungothic, arial, verdana, sans-serif; font-size: 1.25rem;}
</style>
<!--style type="text/css">
    .Layer1 {
        background-color: #fdffff;
        display: none;
        padding: 10px;
        margin: 10px;
    }
    .Layer2 {
        background-color: #e6ffcc;
        display: none;
        padding: 10px;
        margin: 10px;
    }
</style>

<script>
function hideLayer(id) {
    var x = document.getElementById(id);
    console.log(x.style.display);
    if (x.style.display == "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script-->
<!-- end custom head snippets -->
